#wrapper {
  display: grid;
  grid-template-areas: 
    'title'
    'abstract'
    'input'
    'attrib'
    'nav-buttons'
    'add_buttons'
    'navNumbersDiv'
    'excluded-pile'
    'included-pile';
  justify-items: center;
  text-align: center;
  min-width: 60vw;
}

#title {
  grid-area: title;
}

#current_abstract {
  display: block;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 50vh;
  max-height: 50vh;
  white-space: pre-wrap;
  font-size: 1.75em;
  line-height: 2;
}

#abDiv {
  grid-area: abstract;  
  padding-bottom: 8px;
}

#abtext {
  overflow: auto;
  height: 50vh;
}

#inputDiv {
  grid-area: input;
  display: flex;
  width: 20vw;
  margin: auto;
  justify-content: center;
}

#search_query {
  text-align: center;
}

#attrib {
  grid-area: attrib;
  min-height: 10vh;
  max-height: 10vh;
}

#navNumbersDiv {
  grid-area: navNumbersDiv;
}
      
.nav-number {
  display: inline-block;
  margin: 0 0.5vw;
  padding: 0.5vw;
}
      
.nav-number.active {
  background: lightblue;
}
      
.shiny-html-output {
  text-align:center;
}

#nav_buttons {
  grid-area: nav-buttons;
  position: relative;
  margin-top:1vw;
  margin-bottom:1vw;
}
      
#add_buttons {
  grid-area: add_buttons;
  margin-top:1vw;
  margin-bottom:1vw;
}

#excludedPile {
  grid-area: excluded-pile;
}
      
#includedPile {
  grid-area: included-pile;
}